<section class="mt-3" id="section1">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-1">
                <div class="card">
                    <div class="card-header" style="text-align:center;font-size:50px;">
                        <strong>Mastermind</strong>
                    </div>
                    <div style="font-size: 25px;">
                        Guesses left: {{10-guessCount}}
                    </div>
                    <div id="toDoItemHoldingDiv" class="card-body bg-primary" style="height:400px;overflow-y: scroll;">
                        <div>
                            <button *ngFor="let guess of guesses[0]" class="btn" [style.backgroundColor]=listOfColors[guess] [style.color]=listOfTextColors[guess] [style.display]=displayList[0]  style="border-radius: 50%;">{{listOfValues[guess]}}</button>
                            <button *ngFor="let hint of hints[0]" class="btn" [style.backgroundColor]=listOfHintColors[hint] [style.display]=displayListHint[0] style="position:relative; border-radius: 50%; left: 150px;"></button>
                            <hr *ngIf="displayList[0] !='none'">
                        </div>
                        <div>
                            <button *ngFor="let guess of guesses[1]" class="btn" [style.backgroundColor]=listOfColors[guess] [style.color]=listOfTextColors[guess] [style.display]=displayList[1]  style="border-radius: 50%;">{{listOfValues[guess]}}</button>
                            <button *ngFor="let hint of hints[1]" class="btn" [style.backgroundColor]=listOfHintColors[hint] [style.display]=displayListHint[1] style="position:relative; border-radius: 50%; left: 150px;"></button>
                            <hr *ngIf="displayList[1] !='none'">
                        </div>
                        <div>
                            <button *ngFor="let guess of guesses[2]" class="btn" [style.backgroundColor]=listOfColors[guess] [style.color]=listOfTextColors[guess] [style.display]=displayList[2]  style="border-radius: 50%;">{{listOfValues[guess]}}</button>
                            <button *ngFor="let hint of hints[2]" class="btn" [style.backgroundColor]=listOfHintColors[hint] [style.display]=displayListHint[2] style="position:relative; border-radius: 50%; left: 150px;"></button>
                            <hr *ngIf="displayList[2] !='none'">
                        </div>
                        <div>
                            <button *ngFor="let guess of guesses[3]" class="btn" [style.backgroundColor]=listOfColors[guess] [style.color]=listOfTextColors[guess] [style.display]=displayList[3]  style="border-radius: 50%;">{{listOfValues[guess]}}</button>
                            <button *ngFor="let hint of hints[3]" class="btn" [style.backgroundColor]=listOfHintColors[hint] [style.display]=displayListHint[3] style="position:relative; border-radius: 50%; left: 150px;"></button>
                            <hr *ngIf="displayList[3] !='none'">
                        </div>
                        <div>
                            <button *ngFor="let guess of guesses[4]" class="btn" [style.backgroundColor]=listOfColors[guess] [style.color]=listOfTextColors[guess] [style.display]=displayList[4]  style="border-radius: 50%;">{{listOfValues[guess]}}</button>
                            <button *ngFor="let hint of hints[4]" class="btn" [style.backgroundColor]=listOfHintColors[hint] [style.display]=displayListHint[4] style="position:relative; border-radius: 50%; left: 150px;"></button>
                            <hr *ngIf="displayList[4] !='none'">
                        </div>
                        <div>
                            <button *ngFor="let guess of guesses[5]" class="btn" [style.backgroundColor]=listOfColors[guess] [style.color]=listOfTextColors[guess] [style.display]=displayList[5]  style="border-radius: 50%;">{{listOfValues[guess]}}</button>
                            <button *ngFor="let hint of hints[5]" class="btn" [style.backgroundColor]=listOfHintColors[hint] [style.display]=displayListHint[5] style="position:relative; border-radius: 50%; left: 150px;"></button>
                            <hr *ngIf="displayList[5] !='none'">
                        </div>
                        <div>
                            <button *ngFor="let guess of guesses[6]" class="btn" [style.backgroundColor]=listOfColors[guess] [style.color]=listOfTextColors[guess] [style.display]=displayList[6]  style="border-radius: 50%;">{{listOfValues[guess]}}</button>
                            <button *ngFor="let hint of hints[6]" class="btn" [style.backgroundColor]=listOfHintColors[hint] [style.display]=displayListHint[6] style="position:relative; border-radius: 50%; left: 150px;"></button>
                            <hr *ngIf="displayList[6] !='none'">
                        </div>
                        <div>
                            <button *ngFor="let guess of guesses[7]" class="btn" [style.backgroundColor]=listOfColors[guess] [style.color]=listOfTextColors[guess] [style.display]=displayList[7]  style="border-radius: 50%;">{{listOfValues[guess]}}</button>
                            <button *ngFor="let hint of hints[7]" class="btn" [style.backgroundColor]=listOfHintColors[hint] [style.display]=displayListHint[7] style="position:relative; border-radius: 50%; left: 150px;"></button>
                            <hr *ngIf="displayList[7] !='none'">
                        </div>
                        <div>
                            <button *ngFor="let guess of guesses[8]" class="btn" [style.backgroundColor]=listOfColors[guess] [style.color]=listOfTextColors[guess] [style.display]=displayList[8]  style="border-radius: 50%;">{{listOfValues[guess]}}</button>
                            <button *ngFor="let hint of hints[8]" class="btn" [style.backgroundColor]=listOfHintColors[hint] [style.display]=displayListHint[8] style="position:relative; border-radius: 50%; left: 150px;"></button>
                            <hr *ngIf="displayList[8] !='none'">
                        </div>
                        <div>
                            <button *ngFor="let guess of guesses[9]" class="btn" [style.backgroundColor]=listOfColors[guess] [style.color]=listOfTextColors[guess] [style.display]=displayList[9]  style="border-radius: 50%;">{{listOfValues[guess]}}</button>
                            <button *ngFor="let hint of hints[9]" class="btn" [style.backgroundColor]=listOfHintColors[hint] [style.display]=displayListHint[9] style="position:relative; border-radius: 50%; left: 150px;"></button>
                            <hr *ngIf="displayList[9] !='none'">
                        </div>
                    </div>
                    
                    <div class="card-footer">
                        <!-- <app-input></app-input> -->
                        <div style="width: 300px; ">
                            <!-- <button id="userBtn0" class="btn" style="border-radius: 50%; background-color: [color1]getColor(0)}};" (click)="updateColor(0)">{{getValue(0)}}</button> -->
                            <button id="userBtn0" class="btn" [style.backgroundColor]=listOfColors[this.listOfInputBtnValues[0]] [style.color]=listOfTextColors[this.listOfInputBtnValues[0]] style="border-radius: 50%; color: white;" (click)="updateColor(0)">{{getValue(0)}}</button>
                            <button id="userBtn1" class="btn" [style.backgroundColor]=listOfColors[this.listOfInputBtnValues[1]] [style.color]=listOfTextColors[this.listOfInputBtnValues[1]] style="border-radius: 50%; color: white;" (click)="updateColor(1)">{{getValue(1)}}</button>
                            <button id="userBtn2" class="btn" [style.backgroundColor]=listOfColors[this.listOfInputBtnValues[2]] [style.color]=listOfTextColors[this.listOfInputBtnValues[2]] style="border-radius: 50%; color: white;" (click)="updateColor(2)">{{getValue(2)}}</button>
                            <button id="userBtn3" class="btn" [style.backgroundColor]=listOfColors[this.listOfInputBtnValues[3]] [style.color]=listOfTextColors[this.listOfInputBtnValues[3]] style="border-radius: 50%; color: white;" (click)="updateColor(3)">{{getValue(3)}}</button>
                            <button class="btn" (click)="submit()">Submit</button>
                            <button class="btn" (click)="reset()">Reset</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="mt-3" id="section2">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-1">
                <div class="card">
                    <div id="key">
                        <h2>Key</h2>
                        <div>
                            <button class="btn" style="position:relative; background-color: red; border-radius: 50%; display: inline;"></button><p class="keyMessage" style="display: inline;"> Correct position and color</p>
                        </div>
                        <div>
                            <button class="btn" style="position:relative; background-color: white; border-radius: 50%; display: inline; border:1px solid black;"></button><p class="keyMessage" style="display: inline;"> Correct color, wrong position</p>
                        </div>
                        <div>
                            <button class="btn" style="position:relative; background-color: grey; border-radius: 50%; display: inline;"></button><p class="keyMessage" style="display: inline;"> Not correct</p>
                        </div>
                        <div>
                            <p class="keyMessage"><strong>Note:</strong> The indicators are not specific to the place in the guess. The order will always be red, white, grey.</p>
                        </div>
                
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
