<!-- <div id="key">
    <h2>Key</h2>
    <div>
        <button id="demoBtn1"></button><p class="keyMessage">Correct position and color</p>
    </div>
    <div>
        <button id="demoBtn2"></button><p class="keyMessage">Correct color, wrong position</p>
    </div>
    <div>
        <button id="demoBtn3"></button><p class="keyMessage">Not correct</p>
    </div>
    <div>
        <p class="keyMessage"><strong>Note:</strong> The indicators are not specific to the place in the guess. The order will always be red, white, grey.</p>
    </div>

</div> -->